.introparagraph{
    background-color: rgb(252,191,202);
    align-items: center;
    padding: 60px;
    @include respond('430px'){
        padding: 10px;

    }
    // margin: 40px;


    h2{
        color: rgb(54,13,25);
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-weight: bold;
        font-size: x-large;
        //position: absolute;
        //top: 100px;

        background-color: rgb(252,191,202);
    }

    h3{
        color: rgb(54,13,25);
        text-align: left;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: xx-large;
        width: 65%;
        margin-left: auto;
        padding-bottom: 90px;
        //position: absolute;
        //top: 100px;

        background-color: rgb(252,191,202);
        @include respond('430px'){
            margin-left: 60px;
            padding: 0;
            padding-bottom: 30%;
            padding-left: 0px;
            text-align: center;
            font-size: 28px;
        }
    }



    p{
        color: rgb(54,13,25);
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: large;
        @include respond("800px"){
            font-size: x-large;
        }
        @include respond("500px"){
            font-size: x-large;
            color: black;
        }
        //position: absolute;
    }
    hr{
        margin: 40px;
        background-color: rgb(54,13,25);
        color: rgb(54,13,25);
        border-color: rgb(54,13,25);
    }
    

}