.futura{
    background-color: rgb(252,191,202);
    //color: black;
    // box-shadow: 100px 50px;
    display: flex 100px 50px;


    h1{
        color: rgb(54,13,25);
        display: flex; justify-content: center;
        font-family: 'DM Serif Display', serif;
        font-weight: bolder;
        font-size: xx-large;

    }
    h2{

        color: rgb(54,13,25);
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: x-large;
        font-weight: bold;
            //position: absolute;
    }

    img{
        margin: 0 auto;
    }

}

