.projectPage{
    .aboutme{
        padding-top: 10%;
    }
    .introparagraph{
        padding-bottom: 10%;
    }
    .descript{
        padding-inline: 60px;
        text-align: center;
        max-width: 1000px;
        margin: auto;
        h4{
        color: rgb(54, 13, 25);
        
                font-family: "Roboto Condensed", sans-serif;
                font-weight: bolder;
                font-size: x-large;
                //padding-right: 140px;
        }

        h5{
            color: rgb(54, 13, 25);
            
                    font-family: "Roboto Condensed", sans-serif;
                    font-weight: bolder;
                    font-size: x-large;
                    text-align: left;
                    //padding-right: 140px;
            }
    }

    .contactinfo{
        color: rgb(252,191,202);;
    }
        .project {
            background-color: rgb(252, 191, 202);
            //color: black;
            // box-shadow: 100px 50px;
            display: flex 100px 50px;
            padding-bottom: 50px;
            &.--reverse {
                padding-bottom: 0;
                .__text {
                    h1,
                    h3 {
                        text-align: right;
                    }
                }
            }
        
            .__text {
                padding: 0px 120px;
            }
            h1 {
                color: rgb(54, 13, 25);
        
                font-family: "DM Serif Display", serif;
                font-weight: bolder;
                font-size: xxx-large;
            }
            h3 {
                //color: rgb(54, 13, 25);
                font-family: "Roboto Condensed", sans-serif;
                //font-size: xx-large;
                font-weight: bold;
                //position: absolute;
                &.__text {
                    text-align: right;
                }
            }
        
            img {
                max-width: 600px;
                width: 100%;
                &.__craveable {
                    margin-left: auto;
                }
            }
        
            .__group1 {

            
                .__pic {
                    align-items: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center; 
                    margin: auto;
                    .__futurain{
                        width: 300%;
                        align-items: center
                    }
                }
                .__cap {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center; 
                    margin: auto;
                    text-align: left;
                    img{
                        margin: auto;
                        max-width: 100px;
                        max-width: unset;
                    }
                }
            }
            
            
        
            img {
                align-items: center;
                max-width: 600px;
                width: 100%;
                transition: border-color 0.3s;
                padding-top: 20px;
                padding-bottom: 20px;
                border: solid 6px transparent;
                // &:hover {
                //    border-color: rgb(54, 13, 25);
                //}
            }

            .contactMe{
                color: rgb(252,191,202);
                display: flex; justify-content: center;
                font-family: 'DM Serif Display', serif;
                font-weight: bold;
                font-size: xx-large;
                padding-top: 35px;
                padding-bottom: 15px;
                grid-column: 1/-1;
            }

        }
}