.aboutme{
    background-color: rgb(252,191,202);
    body  {
        // background-image: image("C:\Users\ally0\Desktop\FALL 23\VIST 474\Boilerplate-Mixin_Responsive\Boilerplate\images\dublin.jpg");
        background-color: rgb(252,191,202);

        align-items: center;
      }



    h1{
        color: rgb(54,13,25);
        display: flex; justify-content: left;
        font-family: 'DM Serif Display', serif;
        font-weight: bolder;
        font-size: 100px;
        padding-left: 50px;
        margin: 10px;
        @include respond('430px'){
			font-size: 60px;
            padding: 1px;
            padding-top: 60px;
            margin: 0;
            text-align: center;
		}
    }

    h4{
        color: rgb(171,14,61);
        display: flex; justify-content: right;
        font-family: 'Seaweed Script', cursive;
        font-weight: bolder;
        font-size: 100px;
        padding-right: 50px;
        margin: 40px;
        @include respond('430px'){
			padding-right: 0%;
            margin: 0%;
		}
    }


    img{
        margin:0 auto;

    }

    margin: 40px;
}