/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {

  background-color: rgb(252,191,202);
  margin: 0;
  min-height: 100vh;
  padding:0 30px;
}

a, button {
  cursor: revert;
  
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
img{
  object-fit: contain;
}


input, textarea{
  user-select: auto;
}

ul, ol{
  max-width: 50%;
  margin: 0 auto;
  
}